[submodule "libusb"]
	path = sources/libusb
	url = https://github.com/libusb/libusb.git
[submodule "backends"]
	path = sources/sane-backends
	url = https://gitlab.com/sane-project/backends.git
[submodule "sources/libjpeg-turbo"]
	path = sources/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "sources/hplip"]
	path = sources/hplip
	url = https://github.com/cyanfish/naps2-hplip.git
